

<div contenteditable="true" class="divEditorTeoria" id="textoTeoria">
    Comece a criar sua teoria aqui :)
    @foreach (var imagem in imagens)
    {
            <CriaImagemTeoria></CriaImagemTeoria>
            @*<a title="Remover" style="color:black;font-size:1em;" @onclick="(()=>RemoveImagem(imagem))" class="fa fa-trash"></a>*@
            
    }

</div>
<div class="text-center">
    <a @onclick="AdicionaImagem" class="fa fa-image" style="font-size: 3em;color: black;"></a>
</div>



@code {
    SuaTeoria st = new SuaTeoria();
    int count = 0;
    int i;
    bool val = false;
    List<CriaImagemTeoria> imagens = new List<CriaImagemTeoria>();
    CriaImagemTeoria imagem;

    void AdicionaImagem()
    {
        imagens.Add(imagem);
    }

    void RemoveImagem(CriaImagemTeoria img)
    {
        imagens.Remove(img);
    }

}