@page "/hqs"

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <div class="container">
                <h2 class="fontePadrao">AS MAIS RECENTES</h2>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 py-5">
                        <a href="#" title="O ARANHA-VERSO: QUANDO TEREMOS O TOM HOLLAND">
                            <img src="images/imagem.jpg" id="imagemInicio" />
                            <p id="textoInicio">O ARANHA-VERSO: QUANDO TEREMOS O TOM HOLLAND </p>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 py-5">
                        <a href="#" title="O ARANHA-VERSO: QUANDO TEREMOS O TOM HOLLAND">
                            <img src="images/imagem.jpg" id="imagemInicio" />
                            <p id="textoInicio">O ARANHA-VERSO: QUANDO TEREMOS O TOM HOLLAND </p>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 py-5">
                        <a href="#" title="O ARANHA-VERSO: QUANDO TEREMOS O TOM HOLLAND">
                            <img src="images/imagem.jpg" id="imagemInicio" />
                            <p id="textoInicio">O ARANHA-VERSO: QUANDO TEREMOS O TOM HOLLAND </p>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 py-5">
                        <a href="#" title="O ARANHA-VERSO: QUANDO TEREMOS O TOM HOLLAND">
                            <img src="images/imagem.jpg" id="imagemInicio" />
                            <p id="textoInicio">O ARANHA-VERSO: QUANDO TEREMOS O TOM HOLLAND </p>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 py-5">
                        <a href="#" title="O ARANHA-VERSO: QUANDO TEREMOS O TOM HOLLAND">
                            <img src="images/imagem.jpg" id="imagemInicio" />
                            <p id="textoInicio">O ARANHA-VERSO: QUANDO TEREMOS O TOM HOLLAND </p>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 py-5">
                        <a href="#" title="O ARANHA-VERSO: QUANDO TEREMOS O TOM HOLLAND">
                            <img src="images/imagem.jpg" id="imagemInicio" />
                            <p id="textoInicio">O ARANHA-VERSO: QUANDO TEREMOS O TOM HOLLAND </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="container">
                <h4 class="fontePadrao">OS MAIS FALADOS</h4>
                <div class="row py-2">
                    <div class="col-4"><a href="#"><img id="menuLateralImg" src=images/onepiece.png /></a></div>
                    <div class="col-6"><a href="#">ONE PIECE</a></div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-4"><a href="#"><img id="menuLateralImg" src=images/kimetsu.png /></a></div>
                    <div class="col-6"><a href="#">KIMETSU NO YAIBA</a></div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row py-2">
                    <div class="col-4"><a href="#"><img id="menuLateralImg" src=images/onepiece.png /></a></div>
                    <div class="col-6"><a href="#">ONE PIECE</a></div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-4"><a href="#"><img id="menuLateralImg" src=images/kimetsu.png /></a></div>
                    <div class="col-6"><a href="#">KIMETSU NO YAIBA</a></div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-4"><a href="#"><img id="menuLateralImg" src=images/kimetsu.png /></a></div>
                    <div class="col-6"><a href="#">KIMETSU NO YAIBA</a></div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-4"><a href="#"><img id="menuLateralImg" src=images/kimetsu.png /></a></div>
                    <div class="col-6"><a href="#">KIMETSU NO YAIBA</a></div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-4"><a href="#"><img id="menuLateralImg" src=images/kimetsu.png /></a></div>
                    <div class="col-6"><a href="#">KIMETSU NO YAIBA</a></div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-4"><a href="#"><img id="menuLateralImg" src=images/kimetsu.png /></a></div>
                    <div class="col-6"><a href="#">KIMETSU NO YAIBA</a></div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-4"><a href="#"><img id="menuLateralImg" src=images/kimetsu.png /></a></div>
                    <div class="col-6"><a href="#">KIMETSU NO YAIBA</a></div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-4"><a href="#"><img id="menuLateralImg" src=images/kimetsu.png /></a></div>
                    <div class="col-6"><a href="#">KIMETSU NO YAIBA</a></div>
                </div>
                <h4 class="fontePadrao mt-5">TOP TEORISTAS</h4>
                <div class="row py-2">
                    <div class="col-4"><a href="#"><img id="menuLateralImg" src=images/onepiece.png /></a></div>
                    <div class="col-6"><a href="#">ONE PIECE</a></div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-4"><a href="#"><img id="menuLateralImg" src=images/kimetsu.png /></a></div>
                    <div class="col-6"><a href="#">KIMETSU NO YAIBA</a></div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-4"><a href="#"><img id="menuLateralImg" src=images/kimetsu.png /></a></div>
                    <div class="col-6"><a href="#">KIMETSU NO YAIBA</a></div>
                </div>
            </div>
        </div>

    </div>
</div>