@page "/"
@inject HttpClient http

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <div class="container">
                <h2 class="fontePadrao">AS MAIS RECENTES</h2>
                <div class="dropdown-divider"></div>
                <div class="row">
                    @if (teorias != null)
                    {
                        @foreach (var item in teorias)
                        {
                            <div class="col-lg-6 col-md-12 py-5">
                                <a href="#" title="">
                                    <img src="data:image/jpeg;base64, @item.ImagemTitulo" id="imagemInicio" />
                                    <p id="textoInicio">@item.Titulo</p>
                                </a>
                            </div>
                        }
                    }


                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>

                            <li class="page-item"><a class="page-link" href="#">1</a></li>

                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        @*Mudar somente o parâmetro para cada tipo de categoria*@
        <GetTop></GetTop>

    </div>

</div>


@code {
    Teoria teoria = new();
    List<Teoria> teorias = new();
    List<TopObras> maisFalados = new();
    List<TopTeorias> topTeorias = new();
    List<TopUsuarios> topUsuarios = new();

    #region Pagination
    [Parameter]
    public int PageIndex { get; set; }
    [Parameter]
    public int TotalPages { get; set; }
    [Parameter]
    public int Radius { get; set; }
    [Parameter]
    public EventCallback<int> OnSelectedPage { get; set; }

    #endregion

    class TopObras
    {
        public string NomeObra { get; set; }
    }

    class TopTeorias
    {
        public string Titulo { get; set; }
    }

    class TopUsuarios
    {
        public string User { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetTeorias();
        await GetTopObras();
        await GetTopTeorias();
        await GetTopUsuarios();
    }

    async Task GetTopObras()
    {
        maisFalados = await http.GetFromJsonAsync<List<TopObras>>("http://localhost:5285/topobras");
    }
    async Task GetTeorias()
    {
        teorias = await http.GetFromJsonAsync<List<Teoria>>("http://localhost:5285/teorias");
    }

    async Task GetTopTeorias()
    {
        topTeorias = await http.GetFromJsonAsync<List<TopTeorias>>("http://localhost:5285/topteorias");
    }

    async Task GetTopUsuarios()
    {
        //topUsuarios = await http.GetFromJsonAsync<List<TopUsuarios>>("http://localhost:5285/topusuarios");
    }
}
