@page "/suateoria"

<div class="container">
    <div id="divTituloTeoria">
        <input type="text" id=tituloTeoria placeholder="Digite o título da teoria..." />
    </div>
    <div>
        <CriaTextoTeoria></CriaTextoTeoria>
    </div>
</div>

@code{

    int count = 1;
    void Add()
    {
        count++;
    }
}