@page "/visualizarteoria"

<h2>Titulo da teoria</h2>
<h2>Imagem da teoria</h2>
<h2>Criado por:</h2>


<div>
    Conteudo da teoria
</div>
   

@code{
    Teoria Teoria = new Teoria();
    protected override void OnInitialized()
    {
        
    }
}
