@page "/visualizarteoria/{IdTeoria:int}"
@inject HttpClient http

<div class="col-sm-12 my-3">
    <h2>@teoria.Titulo</h2>
</div>
@conteudo


@code {
    Teoria teoria = new Teoria();
    [Parameter]
    public int IdTeoria { get; set; }
    MarkupString conteudo;
    protected override async Task OnInitializedAsync()
    {
        await GetTeoriaAsync(IdTeoria);
    }

    async Task GetTeoriaAsync(int idTeoria)
    {
        teoria = await http.GetFromJsonAsync<Teoria>($"http://localhost:5285/teoria/{idTeoria}");
        conteudo = (MarkupString)teoria.Conteudo;
    }
}
