@page "/visualizarteoria/{IdTeoria:int}"
@inject HttpClient http

<div class="container my-5">
    <input type="image" style="height:50%; width:100%; cursor:default" src="data:image/jpeg;base64, @teoria.ImagemTitulo" />
    <div class="col-sm-12 my-3 text-center">
        <h2>@teoria.Titulo</h2>
    </div>
    @conteudo
</div>


@code {
    Teoria teoria = new Teoria();
    [Parameter]
    public int IdTeoria { get; set; }
    MarkupString conteudo;
    protected override async Task OnInitializedAsync()
    {
        await GetTeoriaAsync(IdTeoria);
    }

    async Task GetTeoriaAsync(int idTeoria)
    {
        teoria = await http.GetFromJsonAsync<Teoria>($"http://localhost:5285/teoria/{idTeoria}");
        conteudo = (MarkupString)teoria.Conteudo;
    }
}
