@inject IJSRuntime js
@inject HttpClient http
@inject Blazored.SessionStorage.ISessionStorageService session
@inject NavigationManager nav

@*NAVIGATION MENU*@
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class=container>
        <button class="navbar-toggler" type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false"
        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-2 col-lg-2 col-md-2">
                <ul class="navbar-nav mr-auto">
                    <li class="">
                        <NavLink class="nav-link" href="">
                            <img src="images/Logo.png" class="logo" />
                        </NavLink>
                    </li>
                </ul>
            </div>
            <div class="col-8 col-lg-8 col-md-8">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span aria-hidden="true"></span> HOME
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="mangas">
                            <span aria-hidden="true"></span> ANIMES/MANGÁS
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="series">
                            <span aria-hidden="true"></span> SÉRIES
                        </NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="filmes">
                            <span aria-hidden="true"></span> FILMES
                        </NavLink>
                    </li>
                   @* <li class="nav-item">
                        <NavLink class="nav-link" href="hqs">
                            <span aria-hidden="true"></span> HQs
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="suateoria">
                            <span aria-hidden="false"></span> SUA TEORIA
                        </NavLink>
                    </li>*@
                    @*<AuthorizeView Roles="admin">*@
                    @*<Authorized>*@
                   @* <li class="nav-item">
                        <NavLink class="nav-link" href="painel">
                            <span aria-hidden="false"></span> ADM
                        </NavLink>
                    </li>*@
                    @*</Authorized>*@
                    @*</AuthorizeView>*@
                </ul>
            </div>
            

            @*Usuario*@
           @* <div class="col-2 col-lg-2 col-md-2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        @if (!isAnonimo)
                        {
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-user"></span>
                                <label>Olá, @userInfo.User</label>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-black" style="cursor:pointer" href="#">Meu Perfil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-black" style="cursor:pointer" @onclick="ClearSession">Sair</a>

                            </div>
                        }
                        else
                        {

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-user"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item text-black" href="" data-toggle="modal" data-target="#modalEntrar">Entrar</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-black" href="" data-toggle="modal" data-target="#modalCriar">Cadastrar</a>

                            </div>
                        }
                    </li>
                </ul>
            </div>*@

        </div>


        @* <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>*@

    </div>
</nav>
@*FIM MENU NAV*@


@*------------------------------------------------------------------------------------------------------------------------------------*@



@*MODAL PARA ENTRAR*@
<SuaTeoriaWebAssembly.Pages.Login.Login></SuaTeoriaWebAssembly.Pages.Login.Login>
@*FIM MODAL*@

@*----------------------------------------------------------------------------------------------------------------------*@


@*MODAL PARA CRIAR CONTA*@
<EditForm Model="usuario" OnSubmit="@PostUsuario">
    <div class="modal fade" id="modalCriar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastrar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="nomeCriacao" class="col-form-label">Nome</label>
                            <input @bind-value="usuario.Nome" type="text" class="form-control" id="nomeCriacao" placeholder="Nome Completo">
                        </div>
                        <div class="form-group">
                            <label for="usuarioCriacao" class="col-form-label">Usuário</label>
                            <input @bind-value="usuario.User" type="text" class="form-control" id="usuarioCriacao" placeholder="Usuário">
                        </div>
                        <div class="form-group">
                            <label for="emailCriacao" class="col-form-label">Email</label>
                            <input @bind-value="usuario.Email" type="email" class="form-control" id="emailCriacao" placeholder="seuemail@email.com">
                        </div>
                        <div class="form-group">
                            <label for="senhaCriacao" class="col-form-label">Senha</label>
                            <input @bind-value="usuario.Senha" type="password" class="form-control" id="senhaCriacao" placeholder="Senha">
                        </div>
                        <div class="form-group">
                            <label for="rptSenhaCriacao" class="col-form-label">Repita a Senha</label>
                            <input type="password" class="form-control" id="rptSenhaCriacao" placeholder="Repetir Senha">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>
@*FIM MODAL*@

@code {
    Usuario usuario = new();

    async Task PostUsuario()
    {
        await http.PostAsJsonAsync<Usuario>("https://suateoriaapi.azurewebsites.net/usuarios", usuario);
    }

    protected override async Task OnInitializedAsync()
    {
        //await GetSessionUser();
    }

    bool isAnonimo = false;
    Usuario userInfo = new();
    Usuario userAnonimo = new() { Id = 0, Nome = "Anonimous" };
    public async Task GetSessionUser()
    {
        userInfo = await session.GetItemAsync<Usuario>("SessionUser");

        if (userInfo == null || userInfo.Id == 0)
        {
            userInfo = userAnonimo;
            await session.SetItemAsync("SessionUser", userInfo);
            isAnonimo = true;
        }
    }

    public void ClearSession()
    {
        isAnonimo = true;
        session.ClearAsync();
        userInfo = new Usuario() { Id = 0, Nome = "Anonimous" };
        nav.NavigateTo("", true);
    }
}